langchain-openai
langchain-core
langchain-community
langchain-groq
langchainhub
langchain-objectbox
langserve

python-dotenv
streamlit
fastapi
uvicorn
sse-starlette

beautifulsoup4
pypdf
PyPDF2
sentence-transformers
chromadb
faiss-cpu
groq
cassio
wikipedia
arxiv

langchain-google-genai
